body {
    background-color: rgb(65, 65, 65);
}

.AddSourceForm, .ApiDataDisplay {
    margin: 2.5vw;
    background-color: rgb(146, 146, 146);
    width: 45vw;
    padding: 2%;
}

.input-container {
    border: 1px solid black;
    margin: 2px;
    padding: 5px;
}

.expansion {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
 
}

.expansion-end:hover {
    background-color: aliceblue;
    color: black
}

.expansion-end {

    color: aquamarine

}
.InfoBox{
    position: absolute;
    color: yellow;
    font-size: 30px;

}

.Menu {
    display:block
}

.add-source-wrapper, .sources-info-wrapper {
    display: none;
}

.SourcesInfo {

    margin: 2.5vw;
    background-color: rgb(146, 146, 146);
    width: 95vw;
    padding: 2%;

}

.sourceDisplay {

    color: aliceblue;
    background-color: black;
    border:1px solid black;
    margin: 4px;
    padding : 4px;
}

.stopped {

    color:yellow

}

.running {

    color:green

}